<section class="card register">
    <form action="">
        <div>
            <h1>Register</h1>
            <p>{{message}}</p>
        </div>
        <fieldset>
            <input type="firstname" name="firstname" placeholder="First name">
            <input type="lastname" name="lastname" placeholder="Last name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
        </fieldset>
        <button type="submit" class="btn"></button>
        <p><a href="#/login"></a></p>
    </form>
</section>